*{
  box-sizing: border-box;
}

.body {
 
}


.right-img {
  width: 100%;
  height: auto;
}

.header {
  font-size: 20px;
  height: 100px;
}



.icons-header {
  gap: 20px;
}


.Branding-para {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.services-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
  }
  
  .services-logo-para {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #666461;
  }

